/* Used as main font */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Maven+Pro&display=swap");

.App {
  text-align: center;
  background-image: linear-gradient(#d1f4dc, white);
}

.profile-pic {
  border-radius: 50%;
  border: orange 2px solid;
  animation: fadeIn 12s;
  -webkit-animation: fadeIn 12s;
  -moz-animation: fadeIn 12s;
  -o-animation: fadeIn 12s;
  -ms-animation: fadeIn 12s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  background-color: #dcdacc;
  border-bottom-left-radius: 2vw;
}

li {
  list-style: none;
  font-style: italic;
}

.bio {
  color: #000000;
  font-family: "Maven Pro", sans-serif;
  letter-spacing: 0.5vw;
  word-spacing: 0.75vw;
  margin: 8vw;
  text-align: left;
  margin-bottom: 25vw;
  animation: fadeIn 12s;
}

a {
  text-decoration: none;
  color: #51734a;
}

hr {
  width: 69%;
  margin-top: 6vw;
}

.dropdown-menu {
  animation: slideMenu 1s;
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: #dcdacc;
  width: 100%;
  opacity: 0.96;
}

.footer-link {
  font-weight: 400;
  font-style: italic;
}

.my-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
}

.contact-links {
  font-family: "Maven Pro", sans-serif;
  text-align: left;
  margin: 8vw;
  animation: slideContacts 3s;
  width: max-content;
}
