.App {
  text-align: center;
}

.profile-pic {
  width: 69%;
  border-radius: 50%;
}

.dropdown-icon {
    margin-left: 80%;
    display: flex;
    width: 20vw;
}

.close-icon {
  margin-left: 84%;
  margin-top: 4%;
  display: flex;
  height: 12vw;

}

li {
  list-style: none;
  margin: 18vw;
  font-size: 6vw;
  font-style: italic;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: orange;
}

a:focus {
  color: orange;
}

.dropdown-menu {
  height: 200vw
}