.App {
  text-align: center;
}

.profile-pic {
  width: 69%;
  border-radius: 50%;
  animation: fadeIn 12s;
  -webkit-animation: fadeIn 12s;
  -moz-animation: fadeIn 12s;
  -o-animation: fadeIn 12s;
  -ms-animation: fadeIn 12s;
}

.dropdown-icon {
  margin-left: 80%;
  display: flex;
  width: 20vw;
}

.close-icon {
  margin-left: 84%;
  margin-top: 4%;
  display: flex;
  height: 12vw;
}

li {
  list-style: none;
  margin: 18vw;
  font-size: 6vw;
  font-style: italic;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: orange;
}

a:focus {
  color: orange;
}

.dropdown-menu {
  height: 175vw;
  animation: slideIn 3s;
}

.footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  height: 15vw;
  background-color: white;
  width: 100%;
}

.resume-link {
  margin-left: 6vw;
}

.contact-link {
  margin-right: 6vw;
}

.my-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bio {
  margin-bottom: 25vw;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    margin-top: -200vw;
  }

  to {
    margin-bottom: 60%;
  }
}
