.App {
  text-align: center;
}

.profile-pic {
  width: 69%;
  border-radius: 50%;
  animation: fadeIn 12s;
  -webkit-animation: fadeIn 12s;
  -moz-animation: fadeIn 12s;
  -o-animation: fadeIn 12s;
  -ms-animation: fadeIn 12s;
  /* position: relative;
  top: -20vw; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  margin-left: 80%;
}

.dropdown-icon {
  width: 20vw;
}

.close-icon {
  margin-top: 4vw;
  width: 12vw;
}

li {
  list-style: none;
  margin: 18vw;
  font-size: 6vw;
  font-style: italic;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: orange;
}

a:focus {
  color: orange;
}

.dropdown-menu {
  height: 185vw;
  animation: slideMenu 1s;
  display: flex;
}

@keyframes slideMenu {
  from {
    margin-top: -200vw;
  }

  to {
    margin-bottom: 60%;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  height: 15vw;
  background-color: white;
  width: 100%;
}

.resume-link {
  margin-left: 6vw;
}

.contact-link {
  margin-right: 6vw;
}

.my-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
}

.bio {
  margin-bottom: 25vw;
}

.first-name,
.last-name {
  font-size: 8.5vw;
  letter-spacing: 1.25vw;
  text-shadow: -5px -1.5px lightblue;
  margin: 2.75vw;
  animation: slideFirstAndLast 3s;
}

@keyframes slideFirstAndLast {
  from {
    margin-left: -400px;
    letter-spacing: 8vw;
  }

  to {
    margin-left: 0vw;
    letter-spacing: 1.25vw;
    margin: 2.75vw;
  }
}

.middle-name {
  font-size: 9.5vw;
  letter-spacing: 2.5vw;
  text-shadow: -5px -1.5px orange;
  animation: slideMiddle 8s;
}

@keyframes slideMiddle {
  from {
    margin-left: -500px;
    letter-spacing: 6vw;
  }

  to {
    margin-left: 0vw;
    letter-spacing: 2.5vw;
  }
}
